
    <form (ngSubmit)="onSubmit()">
        <table>
            <div class="input-group">
                <p>
                    <label for="initial-investment">Initial Investment, $</label>
                    <input type="number" name="initial-investment" id="initial-investment" 
                    min="0" max="100000" step="1000" value="1000" [(ngModel)]="initialInvestment" />                    
                </p>
                <p>
                    <label for="annual-investment">Annual Investment, $</label>
                    <input type="number" name="annual-investment" id="annual-investment" 
                    min="0" max="100000" step="100" value="1000" [(ngModel)]="annualInvestment" />
                </p>

            </div>
            <div class="input-group">
                <p>
                    <label for="expected-return">Expected Return, %</label>
                    <input type="number" name="expected-return" id="expected-return" 
                    min="0" max="100000" step="1" value="100" [(ngModel)]="expectedReturn" />
                </p>
                <p>
                    <label for="duration">Duration, years</label>
                    <input type="number" name="duration" id="duration" 
                    min="0" max="10000" step="1" value="10" [(ngModel)]="duration" />
                </p>                
            </div>
        </table>
        <p>
            <button type="submit">Calculate</button>
        </p>
    </form>
